<header>
  <%= link_to logo, root_path %>
  <nav class="round">
    <ul>
     <% if signed_in? %>
     <li><%= link_to "Terminar sesión", signout_path, :method => :delete %></li>
     <% else %>
     <li><%= link_to "Regístrate!", signup_path %></li>
     <% end %>
   </ul>
  </nav>
</header>
